<div class="row">
    <div class="col-md-12">
        <h3>Edit Client</h3>
    </div>
    <form [formGroup]="editForm" (ngSubmit)="updateClient()">
        <div class="mb-3">
            <label>Client Name</label>
            <input type="text" class="form-control" formControlName="clientname" placeholder="Enter Client Name">
            <div class="alert  alert-danger" *ngIf="(editForm.get('clientname')?.touched || isSubmitted) && editForm.get('clientname')?.invalid">
                Client Name is required.
            </div>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
            <div class="alert  alert-danger" *ngIf="isSubmitted && f['email'].errors">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
            </div>
        </div>
        <div class="mb-3">
            <label>Phone No.</label>
            <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Enter Phone Number">
            <div class="alert  alert-danger" *ngIf="(editForm.get('phoneNumber')?.touched || isSubmitted) && editForm.get('phoneNumber')?.invalid">
                Phone Number is required.
            </div>
        </div>
        <div class="my-3">
            <button type="submit" class="btn btn-primary">Update Client</button>
        </div>
    </form>
</div>